---
title: Access the Ranges
---

%p
  Remote access to the ranges is managed by SMS command. Commands should be sent to:
.level
  .level-item
    %p.button.is-info.is-size-4.has-text-weight-semibold
      = link_to(@config[:ranges][:az04][:phone], 'sms:' + @config[:ranges][:az04][:phone].to_s, class: 'has-text-white')

%p
  %code.is-size-5 enroll &lt;range&gt;
%p Enroll associates a range to your account (based on your registered phone number). You will need to issue an enroll command:
%ul
  %li the first time you use the range
  %li whenever you wish to switch ranges
%p.notification.is-size-6.has-text-weight-semibold
  To see your current range assignment, visit
  = succeed '.' do
    = link_to('home.azcwr.org', @config[:azcwr_home_url])

%p
  %code.is-size-5 access  &lt;your_ip&gt;
%p Access grants a 24 hour access pass to the IP you provide. You will need to issue an access command:
%ul
  %li
    after each
    %code enroll
    command
  %li every time your external ip address changes
  %li every 24 hours

%p.notification.is-size-6.has-text-weight-semibold
  To see your IP as it appears to the range, visit
  = link_to('home.azcwr.org', @config[:azcwr_home_url], target: '_blank', title: 'AZCWR Range Home Page')

%p.notification.is-warning.is-size-5.has-text-weight-semibold
  %strong< NOTE
  \: none of these commands will work if you have not already
  = succeed '.' do
    = link_to('established an account', '/remote/request-account/')

%h2#ranges Standard Ranges

.columns
  .column
    .message.is-primary
      .message-header.is-size-4#beginner Beginner
      .message-body
        %p Those interested in starting a new career in cyber security are first introduced to the basic concepts and terminology within the industry. Educational materials are available in both self-paced learning and more traditional educational contexts. Education is backed with hands on exercises against real world environments. These hands on sessions are guided by educators and provide the student with real world feedback and results. There is no substitute for practical / hands on experience.
        = render '/range-commands.*', {range_title: 'Beginner', range_name: 'beginner'}
  .column
    .message.is-link
      .message-header.is-size-4#intermediate Intermediate
      .message-body
        %p Those interested in advancing their education will continue to receive re-enforcement of the basic concepts and terminology within the security industry, but will move more into exploring and experiencing all of those concepts in a hands on learning environment. This includes both offensive and defensive skills.
        = render '/range-commands.*', {range_title: 'Intermediate', range_name: 'intermediate'}
.columns
  .column
    .message.is-warning
      .message-header.is-size-4#advanced Advanced
      .message-body
        %p To obtain mastery of the required knowledge, advanced students will work within a completely hands on environment and will be working with tools and technologies available on the commercial market. Their education is augmented with real-time industry updates and technology performance data from the cyber warfare range’s real world environment. Students in this area are operating in an environment that is comparable to employment as a corporate security professional. They will continue to use and master real world commercial tools, as well as learn the needed skills to work with other security professionals in a team environment. Soft skills, reporting, budgeting, and other forms of planning are learned, practiced, and reviewed.
        = render '/range-commands.*', {range_title: 'Advanced', range_name: 'advanced'}
  .column
    .message.is-danger
      .message-header.is-size-4#real-world Real World
      .message-body
        %p Cyber warfare is constantly evolving. Therefore, cyber security professionals must continue their education. Students operating in our real-world environment are participating in a live fire cyber war. It does not get any tougher or real-world that this environment. Students harden and broaden their skills based on real-time experiences and information as it happens.
        = render '/range-commands.*', {range_title: 'Real World', range_name: 'jedi'}
