---
title: AZ Cyber Warfare Ranges
---

%h2 Range Enrollment and Access

%p The Arizona Cyber Warfare Range is a privately funded organization designed to accelerate innovations in cyber security.
%p The ranges offer an excellent platform for you to learn computer network attack (CNA), computer network defense (CND), and digital forensics (DF). You can play any of these roles.
%p Our architecture is based on donations and open source based infrastructure. We currently have over 150 metal servers, over 1300 virtual machines, and over 12 petabytes of storage. We believe it is the largest privately funded cyber warfare range in the world.
%p We also have many different networking devices, security appliances, and other Internet addressable goodies for an even more real world environment for CNA, CND, and digital forensics.
%p The range is comprised of segregated areas of concentration.
%p Under the educational division, the range is divided into beginner, intermediate, advanced, and real world ranges where students of all levels can learn in a hands on environment the skills they need to become a better cyber security professional.

%h2 Target Scope

%p
  %strong> With the exception of this website
  , all range enrollees are encouraged to attack any system resident on any of the ranges, to the best of your ability. This includes each others commercial products deployed within our real world Cyber Warfare Range.

%p Range etiquette dictates that you do not attack those who are new to the range until they have had time to acclimate. The exception being those who are boastful of their abilities, which is considered an invitation by that individual to test their abilities.

%p
  %strong Have at it and Happy Hacking!
