---
title: Request Account
---

%h2 Access Policy

%p
  Access to the AZCWR is completely free but, subject to the discretion of our
  = succeed '.' do
    = link_to('leadership team', '/about/leadership-team/')
%p
  Given the nature of a live fire, cyberwarfare range, high availability is our goal but, range uptime cannot be guaranteed. For mission critical range usage, please contact us about setting up a
  = succeed '.' do
    = link_to('special range', '/remote/special-ranges/')

%h2 Registration

%p
  To establish access to the AZCWR we require your
  = succeed ',' do
    %strong name
  a valid
  %strong mobile phone number
  that you have access to all the time, and your
  = succeed '.' do
    %strong email address
%p
  Account requests are manually reviewed. Once approved, you will be notified via email that your account has been activated and will have
  = link_to('access the ranges', '/remote/access/')
  via the provided mobile phone number.

.section
  .level
    .level-item
      = link_to('Online Signup Form', @config[:range_signup_form], class: 'button is-primary is-size-4 has-text-weight-semibold')
