---
title: East Valley Range – AZ04
---

- range = @config[:ranges][:az04]

.message.is-warning
  .message-body
    %h2 Our AZ04 location is for our activities requiring a security clearance. It is not open to the public. Access requires and active and verifiable security clearance from the United States federal government.
    %p All public access has been moved to our new AZ01 facility..

%h2 Location
.columns
  .column.is-6
    = render '/range-contact-card.*', {range: range}
  -# :TODO: add a facility picture or map in a second column here

%h2 When visiting the Range as a guest

%ol
  %li Please check the calendar or call to ensure that a badged volunteer will be on-site, or make an appointment before visiting.
  %li Please leave cameras and digital recorders at home. We are in a facility that is highly classified and you do not need to meet the feds but we’re happy to introduce you.
  %li
    As you approach AZLabs,
    %em
      %strong proceed to the southwest corner of the facility grounds with the entrance gate.
  %li Press the call button at the gate to reach the security officer on duty.
  %li When s/he answers, tell them you are here to visit the Arizona Cyber Warfare Range. (The guard will then likely open the gate.)
  %li Upon passing through the gate, take an immediate left and drive through to the farthest left area and park. You should see a white sign with an arrow that says “Visitors.”
  %li Proceed north to the “security office,” located near the flag pole and through the double doors of the taller building.
  %li Check in with the security officer on duty. You will need a valid ID such as a drivers license, passport, etc.
  %li You will be issued a visitor’s pass, and someone on site at the AZCWR will be notified. They will come to the security office, and escort you to the AZ Cyber Warfare Range.
  %li Upon entry to the AZ Cyber Warfare Range, you will need to sign-in to the entry log. It is located on a clipboard upon entry. Please do so, and do not forget. You must also “sign out” upon departing the AZCWR.

%h2 Calendar
= render '/google_calendar.*', {range: range}
