---
title: Tempe Range – AZ05
---

- range = @config[:ranges][:az05]

%h2 Location
.columns
  .column.is-6
    = render '/range-contact-card.*', {range: range}
  -# :TODO: add a facility picture or map in a second column here

%h2 Calendar
= render '/google_calendar.*', {range: range}

%h2 When visiting the Range as a guest

%ol
  %li Please check the calendar or call to ensure that a badged volunteer will be on-site, or make an appointment before visiting.
  %li Upon entry to the AZ Cyber Warfare Range, you will need to sign-in to the entry log. Remember, you must also sign-out upon departing the AZCWR.

