---
title: On-site
---

%p
  Whether you attend as an individual, part of a professional team, or a member of public office who wants to learn more – we are happy to show you around the
  = @config[:azcwr_short_name]
  and share our expertise and resources.

%p
  While the AZCWR can be used
  = succeed ',' do
    = link_to('remotely', '/remote/')
  training on-site at one of our
  = link_to('locations', '#locations')
  generally leads to faster learning and deeper understanding of critical skills. While our technology is impressive, it's our dedicated volunteers that really set us apart.

= render '/required-for-participation.*'

%h2#locations Locations
= render '/range-locations.*'
