.hero.is-fullheight
  .hero-body.content
    .container
      .level
        .level-item
          .message.is-warning
            .message-header.is-size-2
              This page does not exist.
            .message-body.is-size-3
              Return to the
              = succeed '.' do
                = link_to('homepage', '/')
