---
title: Calendars
---

%p
  The
  = @config[:azcwr_full_name]
  is staffed by volunteers. We do our best to provide 24x7 availability.

%p If you would like to schedule a tour, verify range hours, or plan something more elaborate, give us a call:

%h2#locations Locations
= render '/range-locations.*'

= render '/required-for-participation.*'
