---
---

.hero
  .hero-body
    %img.is-pulled-right{ width: "300", height: "300", alt: "Arizona Cyber Warfare Range", itemprop: "logo", src: "/images/azcwr-logo-300x300.png" }/

    %h1.title Arizona Cyber Warfare Range
    %p.subtitle Revolutionary advancements in cyber security happen here.

    %p The Arizona Cyber Warfare Range is a live fire cyber warfare range created to augment the current cyber security resources in Arizona and drive innovation in cyber security techniques, technologies, and training across the United States.

    %p
      The range is a privately funded non-profit entity and thus
      = succeed '.' do
        %strong 100% volunteer driven
      This ensures that we are completely dedicated to our missions.

.section
  %h2 AZ03 Location Opening in Tucson
  .columns
    .column
      %img{width: "594", height: "322", alt: "Pima Community College and Arizona Cyber Warfare Range Logos", itemprop: "logo", src: "/images/pima-and-azcwr-logos.png"}/
    .column
      %p
        Our newest location is opening at
        %a{href: 'https://goo.gl/maps/1Ni2Dy5ew4E2'} Pima Community College East Campus
        %strong January 25, 2019
        from
        %strong 10:00 a.m. - 2:00 p.m.
      %p
        Open House and remarks starting at
        %strong 10:00 a.m.
        in the
        = succeed '.' do
          %a{href: 'https://goo.gl/maps/FBdgCHS1yHx'} Community Room
      %p
        Please park and enter via the entrance off of
        %a{href: 'https://goo.gl/maps/SYwKs6iKN7B2'} Fred Enke Drive, 8181 East Irvington Road, Tucson, Arizona
      %p
        Tours of
        %a{href: 'https://goo.gl/maps/1YMi819PRum'} AZCWR AZ03
        will be given until
        %strong 2:00 p.m.
  %p PCC and the Arizona Cyber Warfare Range will work together to develop capable cyber warriors, protecting the health and welfare of our nation’s businesses and infrastructure.
  %p Tours will also be provided of other programs at PCC’s East Campus, including the new Makerspace, Fire Science Academy, Crime Scene Lab, and Veterinary Technology Program.
  %p
    Contact phone:
    %strong 520.206.7694

  %img{ width: "1848", height: "1442", alt: "AZCWR Map Wide", src: "/images/az03-wide-annotated.png" }/
  %img{ width: "2090", height: "1424", alt: "AZCWR Map Wide", src: "/images/az03-mid-annotated.png" }/
  %img{ width: "2790", height: "1142", alt: "AZCWR Map Detail", src: "/images/az03-detail-annotated.png" }/

.section
  .columns
    .column
      .message.is-primary
        .message-header.is-size-4 Get Connected
        .message-body
          %p
            Join our Forums:
            %ul
              - @config[:ranges].each do |id, range|
                %li
                  = link_to(range[:full_name], range[:google_plus])
    .column
      .message.is-link
        .message-header.is-size-4 Get Involved
        .message-body
          %p
            Come visit us
            = link_to('on site', '/on-site/')
            and take a tour.
          %p
            Want to get more involved? Fill out a quick
            = succeed '.' do
              %a{ :href => "https://goo.gl/forms/20qjmkgXxXizYiAk1", :rel => "noopener noreferrer", :target => "_blank" } interest survey

          %p
            Also, you can
            = link_to('request an account', '/remote/request-account/')
            to
            = succeed '.' do
              = link_to('use the range remotely', '/remote/')

.section
  .columns
    .column
      .message
        .message-header.is-size-4 Individuals
        .message-body
          %p For individuals wanting to become more knowledgeable in cyber security and InfoSec, we are here to support your efforts with our expertise and resources.
          %p We are free and open to the public. Minors are welcome but must be accompanied by a parent or guardian.
    .column
      .message
        .message-header.is-size-4 Organizations
        .message-body
          %p<
            We are always looking for opportunities to serve the greater community. If you represent a school, business, nonprofit, etc. and have ideas for trainings or hands on exercises please
            = link_to('contact us', '/contact-us/')
            \. We'll either help design a training opportunity or connect you with other valley resources that can assist you.

.hero
  = render '/verification.*'
