---
title: Ranges
---

%p
  The
  = @config[:azcwr_full_name]
  provides a number of options for hands on cyber warfare training.

%h2 On-Site Ranges

%p
  The best way to experience the
  = @config[:azcwr_short_name]
  is to come visit one of our
  = link_to("#{@config[:ranges].length} locations", '/on-site/')
  in person. We have
  = @config[:equipment_cost_estimate]
  in hardware available for you to setup, attack (both electronically and physically), and discuss with other volunteers.

.section
  .level
    .level-item
      = link_to('Visit a Range', '/on-site/', class: 'button is-primary is-size-4 has-text-weight-semibold')

%h2 Remote Ranges

%p
  For those that cannot make it out to one of our locations, or prefer to hack from the comfort of their home, school, or favorite coffee shop, We offer a 4 standard levels of
  = succeed '.' do
    = link_to('remotely accessible ranges', '/remote/access/#ranges')

.section
  .level
    .level-item
      = link_to('Sign-up For Remote Access', @config[:range_signup_form], class: 'button is-primary is-size-4 has-text-weight-semibold')
