// Import bulma files here. More info: https://bulma.io/documentation/overview/modular/

@import "../vendor/bulma/sass/utilities/initial-variables"

// Set variables here. More info: https://bulma.io/documentation/overview/customize/

@import "../vendor/bulma/bulma"

// Custom site styles go here

// Pin navbar. More info: https://www.w3.org/Style/Examples/007/menus.en.html
// z-index is needed to keep navbar above Bulma message-header
nav.navbar
  position: fixed
  left: 0
  right: 0
  z-index: 1
nav.navbar.is-scrollable
  position: relative !important

// START responsive embedded video styles from: http://embedresponsively.com/
.embed-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%

  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
// END responsive embedded video styles
