%h1 Careers

.message.is-info
  .message-body
    %h2 Real Hardware = Real Experience = Real Jobs
    %p Looking to advance your technical skills & career? Or for knowledgeable cyber security talent? Regardless you have come to the right place.

%p
  The AZCWR is a group of professionals from beginners to those with 20+ years of expertise. Our people are well-trained with hands-on experience in a real world technical environment. We operate in partnership with the
  = link_to('AZ InfraGard', 'http://www.azinfragard.org/')
  program.

%h2 Job Seekers

%p
  Participating in the AZCWR affords you access to our dedicated
  = link_to('Range Recruiter', 'https://plus.google.com/u/0/+RangeRecruiter')
  who is knowledgeable and passionate about seeing others succeed.

%p
  Learn more about current openings on our
  = link_to('Forums', 'https://forums.azcwr.org/category/182/united-states')
  or by contacting our
  = link_to('Range Talent Team', 'https://forums.azcwr.org/category/7/jobs')
  \.
%p
  Our
  = link_to('Range Talent Team', 'https://forums.azcwr.org/category/7/jobs')
  volunteers time one-on-one and hosts workforce development training on topics like resume writing, interview skills, and career planning.

%p
  Whether your concern is confidentiality, limited time availability, or you're just getting started, our
  = link_to('Range Talent Team', 'https://forums.azcwr.org/category/7/jobs')
  is here for you.

%h2 Employers

%p
  Do you have a great job to share? Please send details to our
  = link_to('Range Talent Team', 'https://forums.azcwr.org/category/7/jobs')
  \. Keep in mind, all job openings must be vetted and verified before then being posted to our social media and other communication channels.

%p
  Many fly-by night companies and scammy agencies come around to solicit our talented flock of professionals, but these professionals are not here to be hounded by recruiters. People come to AZCWR to learn. Only a small percentage are open to a new opportunity. As a collective, our primary goal is training. This is why we welcome our
  = link_to('Range Talent Team', 'https://forums.azcwr.org/category/7/jobs')
  efforts in limiting the scams our professionals navigate.

%p
  If you want to recruit within the AZCWR network of professionals, we require that all requesters contact the Range Recruiter. Our official
  = link_to('Range Talent Team', 'https://forums.azcwr.org/category/7/jobs')
  is solely responsible for identifying and placing our talented cybersecurity professionals.

%p
  We do reserve the right to ignore post requests based on any number of the following factors:

%ul
  %li The position is not IT, software development, or cybersecurity related.
  %li Your organization has been identified as non-responsive.
  %li Your organization has been identified as non-accommodating.
  %li Your position has exorbitant or irrelevant requirements (e.g. requiring a laundry list of certs)
  %li You ever advertise a position that is not actually open or is simply a method of obtaining resumes.

%p
  If you find that your post requests are being ignored, please send another email requesting the reasons. Questions? Ask
  = link_to('Brett Scott', 'https://forums.azcwr.org/user/blscott')
  \.

%p
  If you are a job seeker and find an advertisement or company to be in violation of our terms, whether posting here or elsewhere, please let us know as soon as possible.

%p
  All workforce development and career planning services provided in partnership with
  = link_to('Recruit Bit', 'https://recruitbit.co/')
  \.

.hero
  = render '/verification.*'
