---
title: Learning Resources
---

%h2
  0)
  = link_to('awesome-cyber-warfare', 'https://gitlab.com/azcwr/awesome-cyber-warfare#readme')

%p
  A vast and growing collection of resources related to cyber warfare, infosec, system administration, etc.

%h2
  1)
  = link_to('Linux Journey', 'https://linuxjourney.com/')

%p Close to 100% of everything the AZCWR does is done on in Linux. Understanding the command line (CLI) and how Linux works is important. Our recommendation is to do the first four modules in Grasshopper, then move down to Subnetting and Networking. Afterwards, take a look at the rest of the modules and go through any that sound interesting.

%h2
  2)
  = link_to('Codecademy', 'https://www.codecademy.com/')

%p Code Academy is going to give you some basics on programming. It is our recommendation that you try Python, PHP, and SQL. You will learn basic concepts and best of all, whether or not you want to go into programming.

%h2 3) bWAPP

%p
  This is hosted internally on the
  = succeed '.' do
    = @config[:azcwr_short_name]
  In order to use this resource you will need to
  = link_to('setup an account', '/remote/request-account/')
  and access the
  = succeed '.' do
    = link_to('beginner range', '/remote/access/#ranges')
  You will need a copy of Kali Linux to successfully perform several of the steps. There are plenty of videos online of how to setup Virtual Box and install Kali Linux on a computer.

%h2
  4)
  = link_to('OverTheWire','https://overthewire.org/wargames/')
  Bandit range

%p I really love the OTW Bandit capture the flag. This will allow you to apply the skills you just learned in a fun game.

%p It will not take very long to complete each of the above but once done, you will be ready to tackle more challenging ranges or tasks depending on your interest. Just as these can all be done remotely, they can also be done on sight if you prefer a more collaboration environment.

%h2
  5)
  = link_to('Hacksplaining', 'https://www.hacksplaining.com/')
