---
title: Analysis
---

%p After the cyber warfare is fought and the forensics team has performed its job, the difficult task of understanding it all comes to the fore. The AZCWR Analysis Team is comprised of experts with mastery of both domains. This team reviews all relevant data and publishes supplemental materials.

%p Focused on the bigger picture, the Analysis Team works with the range team and forensics team to ensure continuous improvement in all aspects of the cyber warfare range and all of its operations. They work to ensure a continuous improvement process (CIP).

%p The AZCWR Analysis Team also reviews all warfare operations, product demonstrations, and training material for integrity, compliance with goals and objectives, and efficiency.
