---
title: Donating to the AZCWR
---
%p We need your support to ensure the future of the Arizona Cyber Warfare Range and its continued success. We receive no contributions from the US government. We are a private 501c3 non-profit.

.section
  .columns
    .column
      .message
        .message-header.is-size-4 Amazon Smile
        .message-body
          %p
            When you shop at
            = link_to('smile.amazon.com', 'https://smile.amazon.com/ch/45-3161142', {target: '_blank'})
            the AmazonSmile Foundation will donate 0.5% of the purchase price to the AZCWR. More info
            = succeed '.' do
              = link_to('About AmazonSmile', 'https://smile.amazon.com/gp/chpf/about/', {target: '_blank'})
    .column
      .message
        .message-header.is-size-4 Direct Donation (PayPal)
        .message-body
          %p
            Direct monetary donations can be made via
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "245FDRFKRUWH4" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
  .columns
    .column
      .message
        .message-header.is-size-4 Equipment Donations
        .message-body
          %p We are always in need of these items:
          %ul
            %li Computer servers (all types rack mountable)
            %li 2.5″ SAS Hard Disks (36gb, 72gb, 146gb, 300gb, 500gb, 1tb+)
            %li RAM Memory (DDR2, DDR3, DDR4)
    .column
      .message
        .message-header.is-size-4 Alternate Currency Mining
        .message-body
          %p You can donate to our ranges by donating time on your computer to allow us to mine alternative currency. It is a form of money and other than the electricity we use, costs you nothing. The benefit is very real though. It is a way to benefit the ranges without donating money, just computing power.
          %p
            Start donating computer time to us now by entering
            = link_to('our mining donation page', '/miner/')

%h2 Thank you for your support.

%p
  The AZCWR operates as a 501c3 under the The National Cyber Warfare Foundation.
  = link_to('Verification via GuideStar.org', 'https://www.guidestar.org/profile/45-3161142', {target: '_blank'})

%p Please let us know if you would prefer to remain anonymous as a donor.
