---
title: Forensics
---

%p.subtitle Study real-world data, not example data sets.

%h2 Real World Attack Artifacts

%p
  The
  = @config[:azcwr_full_name]
  hosts ongoing cyber warfare activities at all levels of experience. This affords the opportunity for students interested in developing and expanding their forensic skills to evaluate the results of cyber attacks, because a key part of defense is understanding prior failures and uncovering details of cyber attacks and subsequent breaches.

%p
  The forensic cases developed at the
  = @config[:azcwr_full_name]
  are from actual events, not a canned forensic image. Therefore, while most cases have been created by an aggressor following a process, there is always variance in the actual forensic data created. This variance ensures the best possible experience for the forensic technician because no two cases are exactly the same.

.message.is-info
  .message-body
    %p AZCWR offers the following benefits to the forensic technician:
    %ul
      %li Real world forensic cases at all knowledge levels
      %li Hands on training with real-world tools
      %li Foreknowledge for beginner and intermediate students
      %li Diversity of forensic cases
      %li Forensic images from bleeding edge aggressors for advanced and real-world students
      %li Forensic images containing the complete life cycle of a cyber attack

.columns
  .column
    .message
      .message-header.is-size-4 Students
      .message-body
        %p Due to the nature of most of the cyber warfare exercises ongoing at the AZCWR, students have the opportunity to compare their conclusions with the process of the cyber attack itself. This ability to compare what is suspected to the actual exercise procedures themselves allows the student to understand exactly what was right and wrong about their conclusions, affording the student an unparalleled opportunity to fine tune their forensic skills.

        %p For advanced students, the forensic cases developed in the real-world cyber warfare exercises expose the student to a number and variance of cyber attacks that are not easily obtained through employment. By concentrating the resources and knowledge resulting from the real world cyber warfare exercises, the Arizona Cyber Warfare Range accelerates the student from beginner to expert with practical knowledge that can be subsequently utilized in the real world.
  .column
    .message
      .message-header.is-size-4 Researchers
      .message-body
        %p
          Due to the vast amount of malicious cyber activity constantly taking place on our ranges, a constantly up to date and growing dataset is available. This allows for training of machine learning models as well as other statistical and analytical techniques.
    .message
      .message-header.is-size-4 Vendors
      .message-body
        %p
          For those seeking to design and develop forensic tools, or existing vendors of forensic technologies, we encourage your
          = link_to('donation', "/about/donations/")
          and educational materials to the AZCWR. The AZCWR offers the opportunity for forensic vendors to obtain practical feedback and comparative data on their technologies. It also allows vendors to work directly with students and future clients.
