---
title: About AZCWR
---
%h1 Welcome to the Range!
%p
  %strong Our purpose
  is to develop a well-trained workforce versed in the continuous improvement process for cyber security. This is done through self-paced training, organic mentoring and a real-world experience.

.embed-container
  %iframe{ :allowfullscreen => '', :frameborder => '0', :src => 'https://www.youtube.com/embed/4MpK0wi5CT8?rel=0' }

%h2 Why is it called a “Range”?

%p Every moment of every day across the world, a cyber war is in process. There are those defending assets, and those seeking to penetrate those defenses and gain that information. Just as in traditional warfare, learning to defend against the ‘bad guy’ takes practice and is done on a dedicated range.

%p Additionally cyber security professionals practice InfoSec with a game called Capture The Flag, with both a Blue Team and a Red Team. The Blue Team secures a machine, and the Red Team attempts to takeover or plant a “flag” within the Blue Team’s machine, all within a “Range”. Hence, we are the Arizona Cyber Warfare Range.

%p As a 24×7 live-fire cyber warfare range we provide the community with InfoSec training. Our purpose is to develop a well-trained workforce versed in continuous improvement processes for cyber defense and security. We host hands-on exercises to everyone from beginners to tenured professionals through real world operations. Each area is designed to meet the needs of the students’​ education level, with the proven results of upward career progression in the real world of cyber defense and InfoSec. Skills are learned in a hands-on, real world environment. Our participants learn Computer Network Attack (CNA), Computer Network Defense (CND), and Digital Forensics.

%p Although we are not a lab or certification entity, we provide real world statistics on all security systems placed into our range. There is no cost to add your technology to our Range for testing. If you are a student or a hobbyist, your submissions are welcome. Limitations are based on available resources such as human time, server space, and available bandwidth. All serious security vendors are encouraged to submit their technologies to the Range for real world assessments and statistics on performance.

%p We are always looking for opportunities to serve the greater community. Contact us to if you’re looking for conference speakers, corporate training modules, a mobile range on which to host war games, and other forms of education. Please contact us with your proposal.

%p With the exception of this website, all parties are encouraged to attack our Ranges at your educational level or the commercial products placed on-site, within our real-world Cyber Warfare Ranges.

%p We opened the AZCWR in February of 2012 . Our first location (AZ01) is located in the east valley in Mesa, AZ at AZLabs. In August of 2017, we opened the west side range (AZ02) located on the Grand Canyon University campus in their Innovation Center. Feel free to visit any of our ranges.

Please note that nobody is paid, we are 100% volunteers. Please take a look at the respective calendars to see what times would be appropriate for a visit.

%p Have at it and Happy Hacking!
