---
title: Leadership Team
---
%p The goals and objectives of the Arizona Cyber Warfare Range must be managed with the utmost care. The complexity of the operational landscape, opposing interests, and pioneering of a new way to incubate innovations in security all work in opposition to each other without proper care and guidance.

%p The Leadership Team serves the role of guidance, public relations, and advocates for the AZCWR and all of its operations. Given the challenge of maintaining integrity to the goals and objectives of the organization, the Leadership Team rises to be strong leaders of this bold experiment.

.columns
  .column
    .message
      .message-header.is-size-4 Leadership Board
      .message-body
        %ul
          %li Brett L. Scott
          %li Ray Rivera
          %li Rich Larkins
          %li John Garner
          %li Elio Grieco
  .column
    .message
      .message-header.is-size-4 Tucson Range Leadership
      .message-body
        %ul
          %li Jerry Keely
