---
title: AZCWR Memberships
---
%p.subtitle Unlock many valuable services and be a part of the solution

%p We need your support to ensure the future of the Arizona Cyber Warfare Range and its continued success. We receive no contributions from the US government. We are a private 501c3 non-profit.
%p Memberships grant you access to additional services and technologies. Primarily;
%ul
  %li Enriched threat intelligence
  %li Education and upskilling including cyber exercises
  %li Strategic technology reviews, network security analysis, and system audits
  %li Data services including IoC lookups, hacker / hacker group reference materials, domain typo identification tools, and more
  %li Hash / crypto cracking services
  %li Access to our experts for special projects, digital forensics, and more
%p Members receive discounts and priority access to our events, conferences, workshops, and boot camps.
%p Below is a list of our membership types and associated costs:

.section
  .columns
    .column
      .message.is-primary
        .message-header.is-size-3 Corporate Memberships
        .message-body
          %p For companies that are above 25 employees or 5 million in annual revenue.
          %p
            Cost: $5000.00 USD / year
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "XNX3PUFA9ENXJ" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn//btn_subscribeCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
          %p Includes 3 user accounts. Additional accounts are $2500.00 / yr each
    .column
      .message.is-primary
        .message-header.is-size-3 Individual Memberships
        .message-body
          %p For individuals and their own personal use
          %p
            Cost: $100.00 USD / year
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "HJWNL2495YQRJ" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn//btn_buynowCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
          %p Personal use only. Remain in the know.

  .columns
    .column
      .message.is-primary
        .message-header.is-size-3 Small Business Memberships
        .message-body
          %p For companies smaller than our standard corporate membership.
          %p
            Cost: $1500.00 USD / year
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "GEDFSMMTQV5UN" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn//btn_subscribeCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
          %p
            or a monthly cost: $150.00 USD / month
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "H96JJJM9YUUPU" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn//btn_subscribeCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
          %p Includes 1 user account. Additional accounts are $500.00 / yr each

    .column
      .message.is-primary
        .message-header.is-size-3 Non-Profit Memberships
        .message-body
          %p For registered non-profits that are smaller than our standard corporate membership.
          %p
            Cost: $250.00 USD / year
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "MKC2G9RU5LGNE" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn//btn_subscribeCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
          %p
            or a monthly cost: $30.00 USD / month
            %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top" }
              %input{ :name => "cmd", :type => "hidden", :value => "_s-xclick" }/
              %input{ :name => "hosted_button_id", :type => "hidden", :value => "WPF37STNFXZEG" }/
              %input{ :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn//btn_subscribeCC_LG.gif", :type => "image" }/
              %img{ :alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1" }/
          %p Includes 1 user account. Qualified non-profits only.

%p Please note that prices are subject to change at any time. Memberships are not tax deductible.

%p Scholarships are available for discounts on our memberships. For more details on our scholarships please contact us.

%p If you would like to learn more about our memberships and the many valuable services they unlock, please
= link_to('Contact Us', '/contact-us/') or send an email to info@azcwr.org

%p.is-size-4 We truly appreciate your support!

%p We are an entity listed with the ISAO Standards Orgaization.
= link_to('View our listing.', 'https://www.isao.org/information-sharing-group/special-interest/arizona-cyber-warfare-range/')
