---
title: Outreach
---
%p We have an amazing set of volunteers. We offer our speakers to the community for awareness, education, advocacy, and safety.
%p Our speakers are able to speak to all levels of audiences, from deeply technical to elementary education (including CEOs).
%p We also have a strong desire to reach out to our community to:
%ul
  %li Share ideas, best practices, and methods for incorporating cyber security into business operations, development groups, and management.
  %li Educate people about cyber security and topics of interest
  %li Share cyber security safety tips
  %li Generate cyber security awareness
  %li Advocate for the support of cyber security initiatives at the group, company, or policy levels
%p and many more topics, including specific items of interest. We also offer briefings on:
%ul
  %li The state of cyber warfare
  %li Cyber security and your supply chain
  %li Education regarding today’s cyber security news and events
%p There is no cost for any of these topics or briefings within the State of Arizona. We only ask for travel expenses for locations outside of Arizona. We would welcome your donations.
%p  
%p We also now have a mobile hacking lab. This consists of seven(7) workstations and a server full of targets that we can bring to your school, event, etc. We will have volunteers there to. Helping your students / attendees learn the practical methods of hacking.
%p
  If you are interested, please
  = succeed '.' do
    = link_to('contact us', '/contact-us/')
