---
title: Special Events
---
%p The Arizona Cyber Warfare Range hosts many different types of events.
%p
  As part of our educational mission we host challenges, tutorials, and hands-on learning events both on-site and via our partners in an ongoing basis, and at all educational levels. If you would like to host or sponsor an event and would like to involve or make use of our AZ Cyber Warfare Range or mobile range, please
  = succeed "." do
    = link_to('contact us', '/contact-us/')
%p Security vendors are encouraged to create their own events for education, product demonstrations, and other forms of knowledge transfer. Strictly sales presentations are not welcome; however, demonstrations, educational labs, and hands on training events are always welcome.
%p Our special events team is ready to help your security event or conference have excellent cyber warfare challenges. For example: capture the flag exercises, hacking competitions, and defender exercises. Regardless of complexity, our special operations team stands ready to make your security event better than ever.
%p The Arizona Cyber Warfare Range also hosts its own events for education, hands-on training, and other relevant activities. We are a center of excellence, and want to share our knowledge with the world.
