%h1.title.is-size-2 GenCyber Camp
%img{ :align => "right", :src => "/images/gencyber-small.png" }/
%p Join us for a week long Cybersecurity camp full of fun real-world Cybersecurity activities. If you would like to enhance your Cybersecurity skills, you will not want to miss out on this camp.
%p Learn demanded Cybersecurity skills through a series of hands-on workshops all for free!
%h3 Who is this for?
%ul
  %li High School students (9th-12th grade).
  %li Students interested in Cybersecurity

%p
  If interested, please fill out this
  %strong>
    %a{ :href => "https://docs.google.com/forms/d/e/1FAIpQLScrW-uhXNdIY0Qa2443wosuPX9RlT12UDT9-guVHbY-kTYv8Q/viewform?usp=sf_link" } Form
  \. Applicants will be chosen based on their Cybersecurity interest. Space is limited; sign up before slots run out.
%h3 Camp Activities
%ul
  %li Attack/Defense
  %li Wireless Security
  %li Private Investigation Scenarios
  %li Cybersecurity Resources
  %li Linux Exposure
  %li WebPage Services and Exploitation
  %li OS Hardening/Exploitation
  %li Networking Basics to Implementation
  %li Technical Networking
  %li Capture the Flag Competition
%p
  Camp
  = succeed '.' do
    %a{ :href => "camps.pdf" } schedule and workshop details

%h3 Q&amp;A

%dl
  %dt What is the Cost?
  %dd
    %strong $0, It's absolutely free
  %dt Do I need to bring anything?
  %dd
    No,
    %strong
      everything will be provided
    for you.
    %strong
      Including laptops and Food.

%h3 Contact
.column.is-half.is-offset-one-quarter
  %article.message.is-info.is-medium
    .message-header
      For additional questions, please contact
    .message-body
      David Hernandez
      %br/
      dhernandez@azcwr.org
      %br/
      480-447-8190
