!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ :charset => "utf-8" }/
    %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ :content => "width=device-width, initial-scale=1", :name => "viewport" }/
    %link{ :href => "/stylesheet.css", :rel => "stylesheet" }/
    %title= [@item[:title], @config[:site_title]].compact.join(' - ')
  %body
    .header
      = render '/navbar.*'
    .pinned-nav-spacer &nbsp;
    .section
      .columns
        .column
        .column.is-four-fifths.content#main
          - if @item[:title]
            %h1.title.is-size-2= @item[:title]
          = yield
        .column
    %footer.footer.has-text-centered
      = render '/footer.*'
