.level
  .level-item
    %p
      Copyright &copy; 2018
      = @config[:site_title]
      \- All rights reserved worldwide.
      %br/
      On behalf of the
      = link_to('National Cyber Warfare Foundation', 'https://uscwr.org/')
      %br/
      %br/
      Powered by
      = link_to('Nanoc', 'https://nanoc.ws/')
