%p
  The embedded calendar below is intended to show when Lead Volunteers will be on-site to work with newcomers. If you’d like to visit outside of these hours, please comment on our
  = link_to('Our Forums', range[:google_plus])
  or call
  = range[:phone]
  and ask.
%p
  %iframe{ :frameborder => "0", :height => "600", :scrolling => "no", :src => range[:google_calendar], :style => "border: 0;", :width => "800" }
