%header
  %a.logo{ :href => "/", :itemprop => "url", :rel => "home" }
    %img.logo{ width: "200", height: "200", alt: "Arizona Cyber Warfare Range", itemprop: "logo", src: "/images/cropped-azcwr-LOGO-300x300.png" }/
