%nav.navbar.is-dark#navbar
  .navbar-brand
    %a.navbar-item{ :href => "/", :itemprop => "url", :rel => "home" }
      %img{ alt: "Arizona Cyber Warfare Range", itemprop: "logo", src: "/images/cropped-azcwr-LOGO-300x300.png" }/
      %p &nbsp;Home
    .navbar-burger.burger{ "data-target" => "azcwr-menu" }
      %span
      %span
      %span
  .navbar-menu#azcwr-menu
    .navbar-start
      .navbar-item.has-dropdown.is-hoverable
        = link_to('About', '/about', class: 'navbar-link')
        .navbar-dropdown.is-boxed
          = link_to('Leadership Team', '/about/leadership-team/', class: 'navbar-item')
          = link_to('Analysis', '/about/analysis/', class: 'navbar-item')
          = link_to('Forensics', '/about/forensics/', class: 'navbar-item')
          .navbar-divider
          = link_to('Partners', '/about/partners/', class: 'navbar-item')
          = link_to('Sponsors', '/about/sponsors/', class: 'navbar-item')
          = link_to('Allies', '/about/allies/', class: 'navbar-item')
      .navbar-item.has-dropdown.is-hoverable
        = link_to('Calendars', '/calendars/', class: 'navbar-link')
        .navbar-dropdown.is-boxed
          - @config[:ranges].each do |id, range|
            = link_to(range[:full_name], "/on-site/#{id}/", class: 'navbar-item')
          .navbar-divider
          = link_to('Statewide Events', 'https://swcse.com/', class: 'navbar-item')
      .navbar-item.has-dropdown.is-hoverable
        = link_to('Ranges', '/ranges/', class: 'navbar-link')
        .navbar-dropdown.is-boxed
          = link_to('On-site', '/on-site/', class: 'navbar-item')
          - @config[:ranges].each do |id, range|
            = link_to(range[:full_name], "/on-site/#{id}/", class: 'navbar-item')
          .navbar-divider
          = link_to('Remote', '/remote/', class: 'navbar-item')
          = link_to('Request Account', '/remote/request-account/', class: 'navbar-item')
          = link_to('Access the Ranges', '/remote/access/', class: 'navbar-item')
          .navbar-divider
          = link_to('Access Pass and Target Guide System', @config[:azcwr_home_url], class: 'navbar-item')
      .navbar-item.has-dropdown.is-hoverable
        = link_to('Resources', '/resources', class: 'navbar-link')
        .navbar-dropdown.is-boxed
          = link_to('Careers', '/resources/careers/', class: 'navbar-item')
          = link_to('Learning Resources', '/resources/learning/', class: 'navbar-item')
          .navbar-divider
          .navbar-item.has-text-grey-light External Resources
          = link_to('Cybersecurity Council of Arizona', 'https://ccofaz.org/', class: 'navbar-item')
          = link_to('AZ Cyber Talent', 'http://www.azcybertalent.com/', class: 'navbar-item')
          = link_to('South West Cyber Security Events', 'https://swcse.com/', class: 'navbar-item')
      .navbar-item.has-dropdown.is-hoverable
        = link_to('Outreach', '/outreach/', class: 'navbar-link')
        .navbar-dropdown.is-boxed
          = link_to('Outreach', '/outreach/', class: 'navbar-item')
          = link_to('Special Events', '/outreach/special-events/', class: 'navbar-item')
          = link_to('Special Ranges', '/outreach/special-ranges/', class: 'navbar-item')
      .navbar-item.has-dropdown.is-hoverable
        = link_to('Contribute', '/about/donations/', class: 'navbar-link')
        .navbar-dropdown.is-boxed
          = link_to('Membership Options', '/about/memberships/', class: 'navbar-item')
          = link_to('Ways to donate', '/about/donations/', class: 'navbar-item')
          .navbar-divider
          .navbar-item.has-text-grey-light Crypto Mining
          = link_to('In-Browser Mining', 'http://home.azcwr.org/mining.html', class: 'navbar-item')

    .navbar-end
      .navbar-item.has-dropdown.is-hoverable
        = link_to('Contact Us', '/contact-us/', class: 'navbar-link')
        .navbar-dropdown.is-boxed.is-right
          .navbar-item.has-text-grey-light SMS and Support
          - @config[:ranges].each do |id, range|
            .navbar-item
              %p.is-size-5
                = link_to(range[:full_name], "/on-site/#{id}/")
                %br/
                = range[:phone]

:javascript
  document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
          var $navTarget = document.getElementById('navbar');
          $navTarget.classList.toggle('is-scrollable');

        });
      });
    }

  });
