%a{ href: "/on-site/#{range[:id]}", class: 'message is-link' }
  .message-header.is-size-4
    = range[:full_name]
  .message-body
    %p.is-size-4.has-text-black= range[:phone]
    %p.has-text-black
      %strong
        = succeed ':' do
          = range[:address_hint]
      %br/
      = range[:address_line_1]
      %br/
      = range[:address_line_2]
    %p.level
      .level-left
        .level-item
          = link_to('Calendar', "/on-site/#{range[:id]}", class: 'button is-info')
        .level-item
          = link_to('Map', range[:google_maps], class: 'button is-link')
        .level-item
          = link_to('Forums', range[:google_plus], class: 'button is-link')
