!!!
- redirect_url = @item[:redirect] || '/'
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ :content => "2;url=#{redirect_url}", "http-equiv" => "Refresh" }/
    %meta{ :charset => "utf-8" }/
    %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ :content => "width=device-width, initial-scale=1", :name => "viewport" }/
    %link{ :href => "/stylesheet.css", :rel => "stylesheet" }/
    %title= [@item[:title], @config[:site_title]].compact.join(' - ')
  %body
    .hero.is-fullheight
      .hero-body.content
        .container
          .level
            .level-item
              .message.is-info
                .message-header.is-size-2
                  This page has moved.
                .message-body.is-size-3
                  Redirecting to
                  = succeed '...' do
                    = link_to(redirect_url, redirect_url)
