%h2 Required for On-site Participation

%p
  We welcome your visit and/or participation on-site at the
  = succeed '.' do
    = @config[:azcwr_full_name]
  Before you visit us, you will need:
  %ol
    %li
      to fill out, and bring with you, our
      = link_to('waiver of liability', @config[:liability_waiver], {rel: 'noopener noreferrer', target: '_blank', title: 'On-Site Waiver Form'})
    %li a valid photo ID if you are 18 or over

%p.notification.is-warning.is-size-5
  While on-site, you are subject to the hazards of an active data center.

%p.has-text-grey.has-text-weight-light Yeah, we have lawyers too and they require the above warning. Even though, over 3 years of operation, and hundreds –if not thousands– of tours and events later, we have yet to see any major injuries.

%h2 Please Note

%p
  Because the range is a privately funded, non-profit entity that is
  = succeed ',' do
    %strong 100% volunteer driven
  our on-site hours are subject to the availability of our volunteers.

%p.notification.is-size-5.is-info
  Please check the availability of our volunteers on the location's calendar page, or
  = link_to('call', '/contact-us/')
  the range you wish to visit and arrange a tour with range staff directly.
