%p.notification.is-info<
  If you would like to verify the engagement and/or technical contribution of someone who claims to be a volunteer, please call the Range at
  %strong= @config[:ranges][:az04][:phone]
  and ask for
  = succeed '.' do
    %strong Brett L. Scott
