.hero.is-fullheight
  .hero-body.content
    .container
      .level
        .level-item
          .message.is-warning
            .message-header.is-size-2
              By clicking on the following link, you are donating computing time to The Arizona Cyber Warfare Range. This donation of your computers time will generate cryptocurrency for the range. We greatly appreciate your support!
              = link_to('AZCWR Miner Page', 'http://home.azcwr.org/mining.html', {target: '_blank'})
    -# miner script here
